.invisible{
    display: none;
}

.card{
    border: 3px solid lightskyblue;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14) , 0px 3px 1px -2px rgba(0,0,0,0.12) , 0px 1px 5px 0px rgba(0,0,0,0.2) ;
}

.green-background{
    background-color: rgb(101, 155, 20);
}